* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f8;
    padding: 20px;
}

.resume {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.sidebar {
    width: 30%;
    background: #1e293b;
    color: #fff;
    padding: 30px;
}

.profile h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

.profile p {
    color: #cbd5e1;
    margin-bottom: 25px;
}
.Button {
  padding: 1px 15px; 
  font-size: 12px; 
}
.sidebar h2 {
    font-size: 16px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #334155;
    padding-bottom: 5px;
}

.sidebar p,
.sidebar li {
    font-size: 14px;
    margin-bottom: 8px;
}

.sidebar ul {
    list-style: none;
}

.content {
    width: 70%;
    padding: 40px;
}

.content h2 {
    font-size: 20px;
    color: #1e293b;
    margin-bottom: 15px;
}

.content p,
.content li {
    font-size: 15px;
    color: #334155;
    line-height: 1.6;
}

.item {
    margin-bottom: 20px;
}

.item h3 {
    font-size: 16px;
    color: #0f172a;
}

.item span {
    font-size: 13px;
    color: #64748b;
}

.circle-img {
            width: 200px;            
            height: 200px;           
            border-radius: 50%;      
            object-fit: cover;        
            border: 3px solid #333;  
        }

@media (max-width: 768px) {
    .resume {
        flex-direction: column;
    }

    .sidebar,
    .content {
        width: 100%;
    }

}

